.link {
    margin: 55px 0px 55px 9px;
    font-size: 22px;
    text-decoration: none;
    font-style: bold;
}
.link:hover {
    animation: spaceLetters 0.5s;
}
@keyframes spaceLetters{
    0%{
      letter-spacing: 0px;
    }
    20%{
      color: red;
    }
    75%{
      letter-spacing: 4px;
    }
    100%{
      letter-spacing: 0px;
    }
  }
.container {
    height: 100%;
    background-color: lightgray;
    display: grid;
    grid-gap: 4px;
    grid-template: 100px auto / repeat(12, 1fr);
}
.header {
    background:darkgray;
    color: lightgray;
    grid-column: 2 / -1;
    display: flex;
    flex-direction: row;
}
.menu{
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
}
.assignments {
    grid-column: 2 / -1;
    background-color: darkgray;
    display: grid;
    grid-gap: 4px;
    grid-template: 250px 250px / repeat(3, 1fr) ;
}
.assignment{
    border: solid 2px darkgray;
    background-color: lightgray;
    color: slategray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#assignmentBody{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#assignmentInnerBody{
    display: flex;
    flex-direction: column;
}
.assignmentImg{
    margin-left: 9px;
}
img {
    height: 120px;
    width: auto;
}
#biologyPNG {
    width: 555px;
    -webkit-animation-name: floating;
    animation-name: floating;
    -webkit-animation-duration: 40s;
    animation-duration: 40s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
h5 {
    margin: 0px;
}
